.showcase .container {
  display: flex;
  justify-content: center;
}
.showcase .container .content {
  text-align: center;
  margin-top: 105px;
  margin-bottom: 95px;
}
.showcase .container .content a {
  text-decoration: none;
  color: #191919;
}
.showcase .container .content a:hover {
  font-weight: 500;
}
.showcase .container .content h1 {
  font-size: 74px;
}