.form-section .container {
  display: grid;
  grid-template-columns: auto;
}
.form-section .container form {
  background-color: #F0EFE9;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 120px;
  padding-top: 90px;
  padding-bottom: 100px;
}
.form-section .container form .title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.form-section .container form input {
  margin-top: 15px;
  border-radius: 30px;
  padding: 15px 25px;
  border: none;
}
.form-section .container form .textarea {
  margin-top: 15px;
  border-radius: 30px;
  padding: 15px 25px;
  border: none;
  height: 150px;
  resize: none;
}
.form-section .container form .btn-yellow {
  margin-top: 50px;
}
.form-section .container form .btn-yellow i {
  font-size: 1.05rem;
  margin-left: 10px;
  vertical-align: top;
}